* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

header {
    padding: 1.75rem;
    color: #f8f8f8;
    background-color: blueviolet;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main svg {
    min-width: 100vh;
    min-height: 100vw;

}

.loading {
    margin-top: 5rem;
    font-size: 2rem;
    color: #3f3f44;
}