* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
    color: #f8f8f8;
    background-color: blueviolet;
}

.legends {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    padding: 5px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main svg {
    min-width: 100vw;
    min-height: 100vh;

}

.loading {
    margin-top: 5rem;
    font-size: 2rem;
    color: #3f3f44;
}